---
// The `exams` prop will be passed from the `home.astro` component
const { exams } = Astro.props;
---

<select name="exam-name" class="dropdown-menu">
    {exams.length === 0 ? (
      <option>No exams available</option>
    ) : (
      exams.map((exam) => (
        <option value={exam}>{exam}</option>
      ))
    )}
</select>
  
